doctype html
html(lang= locale, ng-app="phonecatApp")
  head
    base(href='/')
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
  body
    hr
    ul
      li
        a.lead(ui-sref="home", style="color:white") home
      li
        a.lead(ui-sref="phones", style="color:white") phones
      li
        a.lead(ui-sref="phonesDetails({phoneId: 'nexus-s'})", style="color:white") Phone nexus
    hr
    div(ui-view)
    script(src="/bundle/phonecat.js")